# langchain>=0.2.15
# langchain-groq
# pinecone
# langchain-google-genai
#    # optional if you want local vectorstore later
# sentence-transformers
# unstructured
# python-dotenv
# tqdm
# fastapi
# uvicorn
# langchain-openai
# langchain-community    
# langchain-huggingface
# pypdf
# langchain-core
# langchain-text-splitters
langchain>=0.2.15
langchain-openai
langchain-community
langchain-google-genai
langchain-groq
langchain-huggingface
langchain-text-splitters

pinecone
sentence-transformers
torch
huggingface-hub

fastapi
uvicorn
python-multipart

pypdf
python-dotenv
tqdm
